@page
@model PS.Presentation.Razor.Pages.ProcessModel
@{
}
<!-- This script got from frontendfreecode.com -->
<div class="container-fluid">
    <div id="toolbar">
        <button id="remove" class="btn btn-danger" disabled>Delete <i class="fas fa-trash-alt"></i></button>
    </div>

    <table id="table">
        <col width="5%" />
        <col width="5%" />
        <col width="10%" />
        <col width="10%" />
        <col width="20%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />
        <col width="5%" />

        <tbody>
            <tr>
                <td></td>
                <td>1</td>
                <td>2017/10/30</td>
                <td>yahoo</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>50000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>2017/10/30</td>
                <td>yahoo</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>50000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>2017/10/31</td>
                <td>yahoo</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>50000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>4</td>
                <td>2017/10/30</td>
                <td>google</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>50000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>5</td>
                <td>2017/10/31</td>
                <td>google</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>50000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>6</td>
                <td>2017/10/30</td>
                <td>google</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>60000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>7</td>
                <td>2017/10/31</td>
                <td>yahoo</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>60000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>8</td>
                <td>2017/10/30</td>
                <td>yahoo</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>60000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>9</td>
                <td>2017/10/31</td>
                <td>yahoo</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>60000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>10</td>
                <td>2017/10/30</td>
                <td>msn</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>60000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>11</td>
                <td>2017/10/31</td>
                <td>msn</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>60000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>12</td>
                <td>2017/10/30</td>
                <td>msn</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>60000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>13</td>
                <td>2017/10/31</td>
                <td>yahoo</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>70000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>14</td>
                <td>2017/10/30</td>
                <td>yahoo</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>70000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>15</td>
                <td>2017/10/31</td>
                <td>yahoo</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>70000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>16</td>
                <td>2017/10/30</td>
                <td>yahoo</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>70000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>17</td>
                <td>2017/10/31</td>
                <td>yahoo</td>
                <td>dk-034841</td>
                <td>2019/01/31</td>
                <td>100</td>
                <td>70000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>18</td>
                <td>2017/10/30</td>
                <td>yahoo</td>
                <td>dk-034840</td>
                <td>2019/01/30</td>
                <td>100</td>
                <td>70000</td>
                <td>10 PM</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div><a style="font-size: 8pt; text-decoration: none" target="_blank" href="http://frontendfreecode.com">Free Frontend</a>
